A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions!

Assumption - Null hyposthesis as Ho: μ1 = μ2. There is no difference in diameters of cutlets between two units.

Alternate hypothesis as Ha: μ1 ≠ μ2 .That is there is significant difference in diameters of cutlets between two units.

As alternate hypothesis is μ1 ≠ μ2. We will do two tail testing.

In [24]:
### importing required libraries

import pandas as pd 
import numpy as np
from scipy import stats 
from scipy.stats import norm

In [3]:
### upload the data file

Cutlet_data = pd.read_csv("Cutlets.csv")
Cutlet_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
unitA = pd.Series(Cutlet_data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [7]:
unitA.describe()

count    35.000000
mean      7.019091
std       0.288408
min       6.437600
25%       6.831500
50%       6.943800
75%       7.280550
max       7.516900
Name: Unit A, dtype: float64

In [8]:
unitB = pd.Series(Cutlet_data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [9]:
unitB.describe()

count    35.000000
mean      6.964297
std       0.343401
min       6.038000
25%       6.753600
50%       6.939900
75%       7.195000
max       7.545900
Name: Unit B, dtype: float64

In [13]:
### Checking normality using Shapiro-Wilks test

stats.shapiro(unitA)

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [14]:
stats.shapiro(unitB)

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

### At 5% significance level i.e., α= 0.05.

and from shapiro wilks test above we can see the pvalues are greater than significance level α. Hence the data is 
normally distributed and the null hypothesis stands true.

In [18]:
### checking two tail test using Pingouin

!pip install pingouin

import pingouin as pg

Requirement already satisfied: pingouin in c:\users\lalitha rapaka\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: pandas-flavor>=0.2.0 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (0.2.0)
Requirement already satisfied: scikit-learn in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (0.24.1)
Requirement already satisfied: outdated in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (0.2.1)
Requirement already satisfied: scipy>=1.7 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (1.7.3)
Requirement already satisfied: numpy>=1.19 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (1.20.1)
Requirement already satisfied: seaborn>=0.9.0 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (0.11.1)
Requirement already satisfied: tabulate in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (0.8.9)
Requirement already satisfied: statsmodels>=0.12.0 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (0.12.2)
Requirement already satisfied: pandas>=1.0 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (1.2.4)
Requirement already satisfied: matplotlib>=3.0.2 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pingouin) (3.3.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: six in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pandas>=1.0->pingouin) (2021.1)
Requirement already satisfied: xarray in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from pandas-flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: patsy>=0.5 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from statsmodels>=0.12.0->pingouin) (0.5.1)
Requirement already satisfied: requests in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from outdated->pingouin) (2.25.1)
Requirement already satisfied: littleutils in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from requests->outdated->pingouin) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from requests->outdated->pingouin) (4.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from scikit-learn->pingouin) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lalitha rapaka\anaconda3\lib\site-packages (from scikit-learn->pingouin) (1.0.1)

In [19]:
res = pg.ttest(unitA, unitB)
display(res)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,0.722869,68,two-sided,0.472239,"[-0.1, 0.21]",0.172799,0.308,0.109914